@page "/addTime"

<EditForm Model="@timeEntry">
    <DataAnnotationsValidator />


    <p>
        <label>
            Project:
        </label>
        <InputSelect @bind-Value="timeEntry.Project">
            <option>Choose Project...</option>
            <option>Admin</option>
        </InputSelect>
    </p>
            
    <p>
        <label>
            Task:
        </label>
        <InputSelect @bind-Value="timeEntry.Task">
            <option value="">Choose Task...</option>
            <option value="Email/Other">Email/Other</option>
            <option value="PTS">PTS</option>
            <option value="Mentoring and Training">Mentoring and Training</option>

        </InputSelect>
    </p>
            
    <p>
        <label>
            Billing Area:
        </label>
        <InputSelect @bind-Value="timeEntry.BillingArea">
            <option value="">Choose Billing Area...</option>
            <option value="None">None</option>
            <option value="Unbillable">Unbillable</option>
            <option value="Billable">Billable</option>
        </InputSelect>
    </p>

    <p>
        <label>
            Current Date: @timeEntry.EntryDate
        </label>
        
    </p>
            
    <p>
        <label>
            Start Time:
        </label>
        <InputSelect @bind-Value="timeEntry.AvailableTimes">@timeEntry.SelectedStartTime</InputSelect>        
    </p>

    <p>
        <label>
            End Time:
        </label>
        <InputSelect @bind-Value="timeEntry.AvailableTimes">@timeEntry.SelectedEndTime</InputSelect>
    </p>
        
    <p>
        <label>
            Duration:
        </label>
        <InputText @bind-Value="timeEntry.Duration"></InputText>
    </p>
            
    <p>
        <label>
            Description:
        </label>
        <InputText @bind-Value="timeEntry.Description"></InputText>
    </p>
            
    <p>
        <InputNumber @bind-Value="timeEntry.BillingRate"></InputNumber>

    </p>
            
    <p>
        <label>
            Outside?
        </label>
        <InputCheckbox @bind-Value="timeEntry.IsOutside">Outside?</InputCheckbox>
    </p>

    <p>
        <button type="submit">Submit</button>
    </p>

    <ValidationSummary />

</EditForm>


@code{

    private TimeEntry timeEntry = new TimeEntry();
}

