@page "/"

<h1>Welcome to TimeTracker!</h1>
<br/>
<h3>Please enter your time...</h3>
<br/>
<br/>

@*<table class="table">
    <thead>
        <tr>
            <th>
                Project
            </th>
            <th>
                Task
            </th>
            <th>
                Billing Area
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th>
                Duration
            </th>
            <th>
                Description
            </th>
            <th>
                Billing Rate
            </th>
            <th>
                Outside?
            </th>
        </tr>
    </thead>
    
</table>*@

<RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="4"
            AllowSorting="true" Data="@timeEntries" TItem="TimeEntry">
    <Columns>
        <RadzenGridColumn TItem="TimeEntry" Property="Project" Title="Project"/>
        <RadzenGridColumn TItem="TimeEntry" Property="Task" Title="Task"/>
        <RadzenGridColumn TItem="TimeEntry" Property="BillingArea" Title="Billing Area"/>
        <RadzenGridColumn TItem="TimeEntry" Property="SelectedStartTime" Title="Start Time"/>
        <RadzenGridColumn TItem="TimeEntry" Property="SelectedEndTime" Title="End Time"/>
        <RadzenGridColumn TItem="TimeEntry" Property="Duration" Title="Duration"/>
        <RadzenGridColumn TItem="TimeEntry" Property="Description" Title="Description"/>
        <RadzenGridColumn TItem="TimeEntry" Property="BillingRate" Title="Billing Rate"/>
        <RadzenGridColumn TItem="TimeEntry" Property="IsOutside" Title="Outside?"/>
    </Columns>
</RadzenGrid>

<!--TODO:  implement list of time entries -- bhd-->

@code {
    IEnumerable<TimeEntry> timeEntries;
}


