@page "/"

<h1>Welcome to TimeTracker!</h1>
<br/>
<h3>Please enter your time...</h3>
<br/>
<br/>

<table class="table">
    <thead>
        <tr>
            <th>
                Project
            </th>
            <th>
                Task
            </th>
            <th>
                Billing Area
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th>
                Duration
            </th>
            <th>
                Description
            </th>
            <th>
                Billing Rate
            </th>
            <th>
                Outside?
            </th>
        </tr>
    </thead>
    
</table>

<!--TODO:  implement list of time entries -- bhd-->


