@page "/"

<h1>Welcome to TimeTracker!</h1>

Please enter your time...

<tr>
    <th>
        Project
    </th>
    <th>
        Task
    </th>
    <th>
        Billing Area
    </th>
    <th>
        Start Time
    </th>
    <th>
        End Time
    </th>
    <th>
        Duration
    </th>
    <th>
        Description
    </th>
    <th>
        Billing Rate
    </th>
    <th>
        Outside?
    </th>
</tr>

<!--TODO:  implement list of time entries -- bhd-->


